// Testiminals CSS style for the spoon webpage

#testimonials {
    margin-bottom: 35px;

    .testimonial {
        text-align: center;
    }

    .occupation {
        font-size: 80%;
        color: #808080;
    }

    .profile-img {
        border-radius: 50%;
    }
}
