// Uses CSS style for the spoon webpage

#uses {
    margin-bottom: 65px;

    .card {
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 5px;
        margin-bottom: $common-spacing;

        img {
            width: 100%;
            border-radius: 5px 5px 0 0;
        }

        .card-body {
            margin: 30px 20px;
        }
    }
}